{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": "off",
    "brace-style": ["warn", "stroustrup"],
    "camelcase": ["error", { "ignoreDestructuring": true }],
    "no-console": "off",
    "no-use-before-define": "off",
    "prefer-destructuring": "off"
  }
}
